<Context sendRedirectBody="true">
<Valve className="com.sap.security.auth.service.webcontainer.internal.Authenticator"/>
<Valve className="org.eclipse.virgo.web.enterprise.security.valve.OpenEjbSecurityInitializationValve"/>
<Listener className="com.sap.core.services.accessor.tomcat.support.NamingResourcesListener"/>
<Listener className="org.eclipse.virgo.web.enterprise.applistener.internal.OpenEjbApplicationListener" />
<Listener className="org.eclipse.virgo.web.enterprise.openwebbeans.initialiser.VirgoContextLifecycleListener"/>
<!--There is a security requirement that the session id length (in characters) should be > 50; the current setting sets the length to 65-->
<Manager className="com.sap.cloud.tomcat.session.management.TenantAwareSessionManager" sessionIdLength ="32" maxInactiveInterval="1200" pathname=""/>
<Resource name="UserTransaction" auth="Container" type="javax.transaction.UserTransaction" />
<Transaction factory="org.objectweb.jotm.UserTransactionFactory" jotm.timeout="60" />
</Context>
